include README.rst
include CHANGES.rst
include LICENSE
include update_cpp.sh

recursive-include src *.cpp *.pxd *.pyx
recursive-include marisa-trie/lib/marisa *.h *.cc
recursive-include marisa-trie/include/marisa *.h
recursive-include tests *.py
recursive-include bench *.py
